Package: amazon-q
Description: Amazon Q CLI for Linux
Maintainer: Amazon Q CLI Team <q-cli@amazon.com>
Homepage: https://github.com/aws/q-cli
Version: $VERSION
Architecture: $APT_ARCH
Conflicts: amazon-q-minimal
Depends: libayatana-appindicator3-1, libwebkit2gtk-4.1-0, libgtk-3-0, util-linux
