[Unit]
Description=Fig Desktop App
After=multi-user.target
Wants=graphical.target

[Service]
ExecStart=/usr/bin/fig_desktop --no-dashboard

[Install]
WantedBy=default.target
